{% extends "blog/base.html" %}{% block content %}

    <h1 >{{post.title}}</h1>
<div class="flex">
    <p class="intro">{{post.intro}}</p>
</div>
    <p class="execution_date">期日 : {{post.execution_date}}</p>
    <a class="edit" href="{% url 'delete' post.pk %}">削除する</a>
    <a class="edit" href="{% url 'update' post.pk %}">修正する</a>
    <small class="date">Posted at {{post.posted_date}}</small>
    <br>
    <a class="review" href="{% url 'review' post.pk %}">コメントする</a> 
    <hr>
    {% for review in post.review_set.all %}
    <h3>{{ review.title }}</h3>
    <p>{{ review.text }}</p>
    
    <p>報告者：{{ review.user.username }}</p>
    <hr>
  {% endfor %}
    

{% endblock %}